<div class="hero">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Halfajok csoportja</th>
          <th scope="col"> Nevük és Méretük</th>
          <th scope="col">Leírásuk</th>
          <th scope="col">Képek</th>
        </tr>
      </thead>
      <tbody class="blue-bg">
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td>Compó (Tinca tinca) 25cm</td>
          <td> <br> Fajlagos tilalmi idő: május 02. – június 15.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Egyéb nevei: doktorhal avagy cigányhal.
            <br> A compó hosszúsága átlagosan 20-30, legfeljebb 70 centiméter (7,5 kilogramm tömeggel).
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/compó.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td>Jász-keszeg (Leuciscus idus) 20 cm</td>
          <td> <br> Fajlagos tilalmi idő: április 15. -május 31.
            <br> A hal testhossza 30-50 centiméter, max 85 centiméter és 4 kilogramm.
            <br> Őshonos halfaj
          </td>
          <td><img src="../../../assets/img/halak/jaszkeszeg.png" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td>Garda (Pelecus cultratus) 20 cm</td>
          <td>
            <br> Fajlagos tilalmi idő: április 15. -május 31.
            <br> Átlagos testhossza 25-35 centiméter, legfeljebb 60 centiméter.
            <br> Őshonos halfajták
          </td>
          <td><img src="../../../assets/img/halak/garda.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td>Kárász (Carassius carassius) 20cm</td>
          <td> Fajlagos tilalmi idő: március 01. – május 31.
            <br> Természetes vizeken TILOS megtartásuk!
            <br> Testhossza 15-25 centiméter, nagyon ritkán a 30 centiméter
            <br> További magyar elnevezései a karics, a karesz, az aranykárász, a sárga kárász, és a cigánykárász.
            <br> Őshonos halak
          </td>
          <td><img src="../../../assets/img/halak/karasz.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td>Kecsege (Acipenser ruthenus) 50 cm./td>
          <td>
            <br> Fajlagos tilalmi idő: március 01. – május 31.
            <br> Természetes vizeken TILOS megtartásuk!
            <br> Testhossza az 1 métert is elérheti.
            <br> Testtömege 6-7 kilogramm közötti.
            <br> Őshonos halfaj
          </td>
          <td><img src="../../../assets/img/halak/kecsege.png" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td>Márna (Barbus barbus) 40 cm.</td>
          <td> <br> Fajlagos tilalmi idő: május 02. – június 15.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Egyéb nevei: rózsahal, harcsaponty, zsidóhal
            <br> Kifejlett példányai testhossza 40-50 centiméter.
            <br> Tömege 4-5 kilogramm.
            <br> Őshonos halfaj
          <td><img src="../../../assets/img/halak/Petényi-márna.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td>Paduc (Chondrostoma nasus) 20 cm</td>
          <td>
            <br> Fajlagos tilalmi idő: április 15. -május 31.
            <br> Egyéb név: vésettajkú paduc
            <br> Átlagos testhossza 25 centiméter,
            <br> de 50 centiméteresre is megnőhet.
            <br> Testtömege 1–1,5 kilogramm között mozog.
            <br> Őshonos
          </td>
          <td><img src="../../../assets/img/halak/paduc.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td> Ponty (Cyprinus carpio) 30 cm.</td>
          <td> <br> Fajlagos tilalmi idő: május 02. -május 31.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> A vadponty egyéb elnevezései: nyurgaponty, nádiponty, nyurga, pathal,és pozsár
            <br> A közönséges tőponty kifejlett példánya elérheti az 1,2 méteres hosszúságot és a 40 kg-os tömeget.
            <br> Őshonos halfaj
          <td><img src="../../../assets/img/halak/ponty.png" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Békéshalfajok</th>
          <td>Szilvaorrú keszeg (Vimba vimba) 20 cm</td>
          <td>
            <br> Fajlagos tilalmi idő: április 15. -május 31.
            <br> A hal testhossza 20-35 centiméter, legfeljebb 50 centiméter.
            <br> Őshonos hal fajták
          </td>
          <td><img src="../../../assets/img/halak/szilvaorru-keszeg.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Ragadozó halak</th>
          <td>Balin (Aspius aspius) 40 cm.</td>
          <td>
            <br> Fajlagos tilalmi idő: március 01. – április 30.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/Balin.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Ragadozó halak</th>
          <td>Csuka (Esox lucius) 40 cm.</td>
          <td><br> Fajlagos tilalmi idő: február 01. – március 31.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/csuka.png" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Ragadozó halak</th>
          <td>Domolykó (Leuciscus cephalus) 25 cm </td>
          <td>
            <br>Fajlagos tilalmi idő: április 15. – május 31.
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/domolyko.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Ragadozó halak</th>
          <td>Harcsa (Silurus glanis) 60 cm.</td>
          <td> <br> Fajlagos tilalmi idő: 100 cm alatti példányok, május 02. – június 15.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/harcsa.png" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Ragadozó halak</th>
          <td>Süllő (fogassüllő (Stizostedion lucioperca) 30 cm.)</td>
          <td>
            <br> Fajlagos tilalmi idő: március 01. – április 30.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/süllő.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Ragadozó halak</th>
          <td>Kősüllő (Stizostedion volgense) 25 cm.</td>
          <td> <br> Fajlagos tilalmi idő: március 01. – június 30.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/kősüllő.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Ragadozó halak</th>
          <td> Menyhal (Lota lota) 25 cm.</td>
          <td>
            <br>Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/menyhal.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Ragadozó halak</th>
          <td> Sebes pisztráng (Salmo trutta) 22 cm..</td>
          <td> <br> Fajlagos tilalmi idő: október 01. – március 31.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
          </td>
          <td><img src="../../../assets/img/halak/sebes_pisztrang.png" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Védett halak</th>
          <td>Állas küsz (Chalcalburnus chalcoides mento) </td>
          <td> Kifogása tilos!
            Ennek benem tartása pénzbüntetéssel jár!
            Aminek Összege: 10000 Ft
          </td>
          <td><img src="../../../assets/img/halak/allaskusz.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Védett halak</th>
          <td>Botos kölönte (Cottus gobio)</td>
          <td> <br> Kifogása tilos!
            <br> Ennek benem tartása pénzbüntetéssel jár!
            <br> Aminek Összege: 10000 Ft
          </td>
          <td><img src="../../../assets/img/halak/bontoskölönte.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Védett halak</th>
          <td>Dunai hering (Caspialosa kessleri)</td>
          <td>
            <br> Kifogása tilos!
            <br> Ennek benem tartása pénzbüntetéssel jár!
            <br> Aminek Összege: 2000 Ft
          </td>
          <td><img src="../../../assets/img/halak/Dunaihering.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Védett halak</th>
          <td>Cifra kölönte (Cottus poecilophus) </td>
          <td> <br> Kifogása tilos!
            <br> Ennek benem tartása pénzbüntetéssel jár!
            <br> Aminek Összege: 10000 Ft
          </td>
          <td><img src="../../../assets/img/halak/Cifra_kölönte.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Védett halak</th>
          <td>Fenékjáró küllő (Gobio Gobio)</td>
          <td>
            <br> Kifogása tilos!
            <br> Ennek benem tartása pénzbüntetéssel jár!
            <br> Aminek Összege: 2000 Ft
          </td>
          <td><img src="../../../assets/img/halak/fenekjaro.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Védett halak</th>
          <td>Fürge cselle (Phoxinus phoxinus)</td>
          <td> <br> Kifogása tilos!
            <br> Ennek benem tartása pénzbüntetéssel jár!
            <br> Aminek Összege: 2000 Ft
          </td>
          <td><img src="../../../assets/img/halak/fürge_cselle.jpg" alt=""></td>
        </tr>
        <tr>
          <th scope="row">Védett halak</th>
          <td>Gyöngyös koncér (Rutilus frisii meidingeri) </td>
          <td>
            <br> Kifogása tilos!
            <br> Ennek benem tartása pénzbüntetéssel jár!
            <br> Aminek Összege: 2000 Ft
          </td>
          <td><img src="../../../assets/img/halak/gyöngyös_koncér.jpg" alt=""></td>

        </tr>
        <tr>
          <th scope="row">Védett halak</th>
          <td> Halványfoltú küllő (Gobio albipinnatus) .</td>
          <td> <br> Kifogása tilos!
            <br> Ennek benem tartása pénzbüntetéssel jár!
            <br> Aminek Összege: 10000 Ft
          </td>
          <td><img src="../../../assets/img/halak/halványfoltú_küllő.jpg" alt=""></td>
        </tr>


        <tr>
          <th scope="row">Védett halak</th>
          <td> Viza (Huso huso) </td>
          <td> <br> Kifogása tilos!
            <br> Ennek benem tartása pénzbüntetéssel jár!
            <br> Aminek Összege: 10000 Ft
          </td>
          <td><img src="../../../assets/img/halak/Viza (Huso huso).jpg" alt=""></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>